[submodule "external/aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core.git
[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/OB-Xd"]
	path = external/OB-Xd
	url = https://github.com/reales/OB-Xd.git
